/* # Anatomia */
h1{
    color: blue;
    font-size: 60px;
    background: gray;
}

h2{
    color: red;
    font-size: 23px;
    background: black;
}

/*
* Selector - h1, 2
* Declaration - All.
* Properties - color, font-size, background.
* Property Value - blue, 60px, gray / #fff, 23px, black.

## Exemplo

```html
<h1>TÍTULO</h1>
```
```css
h1{
    color: red;
    font-size: 23px;
    background: gray;
}
```
*/

