<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="jubotrom">
            <h1>Página Sobre</h1>
            <p>parágrafo</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
    
</body>
</html>