/*
# BOX MODEL
* Conceitos básicos
* Posicionamento, tamanhos, espaçamentos, cores, etc.
* Elemento html pode ser considerado uma box


```html
<h1>Evolua rápido</h1>
<p>Descrição</p>
<button>Embarcar</button>
```
*/

h1{
    border: 1px solid red; /*definindo borda*/
    margin: 200px; /*espaço por fora da caixa/ envolta da cauxa*/
    padding: 60px; /*Espaço por dentro da caixa*/
}